/*Estilos*/
/*Fonte paragrafos*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Fontes titulos*/
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
:root{
    --bkg-escuro: #0E293C;
    --bkg-claro: #106D8C;
    --whiete: #fff;
    --btn: #017A97;
    --btn-hover: #0B1D29;

    --fonte-principal: 'Roboto', sans-serif;
    --fonte-titulos:  'Lemon', serif;

}
html{
  background-color: #00539f;
}
body{
  font-family: var(--fonte-principal);
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1, h2, h3, h4{
  font-family: var(--fonte-titulos);
}
h1{
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 1px wheat;
}
p, li{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1;
}
