*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "fontes";
@import "cores";
@import "tamanhosp";

body{
    font-family: $font-paragrafo;
}
header{
    text-align: center;
    width: $largura100p;
    height: $theader-footer;
    background-color: $cor-btn;
    color: #fff;
}
header h1{
    font-family: $font-titulos; 
    padding: 25px;
}

/*Area de treino*/
.blog{
    display: block;
    background-color: aquamarine;
}