/*Desenvolvido por: AqGoes*/
@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html, body{
    background-color: darkgray;
    min-height: 100vh; 
}
header{
    background-color: black;
    color: #fff;
    text-align: center;
}
header > h1{
    padding-top: 50px;
       /*
       Primeiro fomma para deixar a letra maiúsculas
       text-transform: uppercase;
       */ 
       /*Segunda forma de deixar as letras maiúsculas*/
       font-variant: small-caps; /*Todos os formatos maiúscukis, porém as primeiras letra das palavras são maiores*/

}
header > p{
    padding-bottom: 50px;
}

a:hover{
    text-decoration: underline;
}
header a, footer a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
/*Estilos mas as duas seções, tanto para normal, como imagem*/
section{
    /*10% da vierport*/
    padding: 10vh;
    padding-bottom: 10vh;
    /*Espaçamento na linda */
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;    
}
section.imagem{
    background-color: rgba(51, 45, 45, 0.822);
    color: #fff;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.226);
    width: 400px;
}
footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}
