/*Meus estilos*/
/*Fonte google*/
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

/*Fonte local*/
@font-face{
    font-family: 'androind';
    src: url(../fontes/aAgressiveWinter.otf) format('opentype');
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-paragafo);
}
:root{

    /*Cores*/
    --bck: #cee7ff56;
    --cor-bnt: #000B42;
    --cor-houver: #004CA2;
    --cor-primaria: #38A5FF;
    --cor-terciaria: #01548C;

    /*Fonte google paragrafos*/
    --font-paragafo:  "Pattaya", sans-serif;
    --font-android: 'androind'

}
header{
    width: 100%;
    height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor-houver), var(--cor-primaria));
}
header h1{
    padding-top: 50px;
    color: #fff;
    letter-spacing: 15px;
    font-size: 45px;
}