*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 30px;
    text-align: center;
    background-color: brown;
    color: #fff;
  
}
header h1{
    font-size: 50px;
}
nav{
    overflow: hidden;
    background-color: #333;
}
nav a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}