/*Estilos*/

header h1{
    font-size: 35px;
    color: brown;
}
.noticias{
    background-color: brown;
}
.noticias h2{
    background-color: aquamarine;
    border-radius: 25px;
    text-align: center;
}