/*AqGoes*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   /* font-family: 'Poppins', sans-serif;*/
   font-family: var(--fonte-principal);
}
:root {
    --banna-yelow: #ffeb3b;
    --dark-orchid: #9c27b0;

    --fonte-principal: 'Poppins', sans-serif;
}
header .logo h1 {
    font-size: 35px;
    padding: 15px;
}
.nav-menu nav ul{
    display: flex;
    
}
.nav-menu nav ul li{
    list-style: none;
    margin-right: 25px;
    padding-top: 15px;
}
.nav-menu nav ul li a{
    text-decoration: none;
    font-size: 25px;
}
header .campo_pesquisa{
    padding: 20px 15px;
    color: #ffeb3b;
}