/*AqGoes*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   /* font-family: 'Poppins', sans-serif;*/
   font-family: var(--fonte-principal);
}
:root {
    --banna-yelow: #ffeb3b;
    --dark-orchid: #9c27b0;

    --fonte-principal: 'Poppins', sans-serif;
}

.nav-menu nav ul{
    display: flex;
}
.nav-menu nav ul li{
    list-style: none;
    margin-right: 45px;
    padding-top: 15px;
}