/*
    Desenvolvido por: Alan
    
    Fonte Titulos: @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');     font-family: 'Black Ops One', cursive;

    Fonte Paragrafos: @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');     font-family: 'Bebas Neue', sans-serif;

    Paletas de Cores: https://www.colourlovers.com/palette/623761/Walking_Away

    Cabeçalho: https://www.dio.me/articles/construindo-um-header-fixo-no-topo-com-html-e-css
*/  

/*Estilos Gerias*/
h1, h2, h3, h4{
    font-family: 'Black Ops One', cursive;
}
p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
/*Cabeçalho*/
header{
    padding: 10px 16px;
    background-color: #555;
    color: #f1f1f1;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
