*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $font-paragrafos;
}
@import "fontes";
@import "cores";

h1, h2, h3{
    font-family:  $font-titulos;
}

header .container{
    width: 100%;
    height: 450px;
    background-color: $cor-escuro;
}