*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-paragrafos;
}
@import "fontes";
@import "cores";

h1{
    font-family:  $font-titulos;
}

header{
    width: 100%;
    height: 450px;
    background-color: $cor-escuro;
}