/*
    Desenvolvido por: Alan

*/

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1, h2, h3{
    font-family: 'Silkscreen', cursive;
    font-size: 45px;
    color: #ff4000;
}

p{
    font-family: 'Prompt', sans-serif;
}
.redes-socias{
    background-color: rgb(28, 139, 13);
    height: 30px;
}
.pesquisa{
    background-color: darkorange;
    height: 30px;
}
.menu-principal ul li, .menu-rodape ul li{
    display: inline;
}
/*Tag criada na chamada das miniaturas de imagem*/
.wp-post-image{
    float: left;
    margin: 0 15px 10px 0;
}


/*Formatos de posts*/
/*Formasto de vídeos*/
.format-video-h1{
    color: aqua;
}

/*Formato imagem*/
.format-iamge-h1{
    color: dodgerblue;
}