/*
    Desenvolvido por: Aqgoes
    Cores usado nos exercios -->  https://www.colourlovers.com/palette/4937141/Rainbow_Smoke_9
    Fontes usado no projeto:
    Titulos: @@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
    Paragrafos: @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*/

/*Titulo*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

/*Paragrafo*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Fonte 
font-family Paragrafo--> font-family: 'Roboto', sans-serif;
font-family Titulos font-family: 'Rubik Burned', system-ui;
--> 
*/

:root{
    --bck: #27371A;
    --bck-hover: #014C48;
    --cores-segu01: #206881;
    --cores-segu02: #7FA6F1;

    --cor-branca: #fff;
    --cor-escura: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 150px;
    background: var(--bck);
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-style: normal;
    box-shadow: 1px 4px 10px var(--cor-escura);
}
header h1{
    padding-top: 40px ;
    text-align: center;
}
.geral{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}
article.contianer-artigo{
    width: 350px;
    height: 350px;
    
}