/*
    Desenvolvido por: Aqgoes
    Cores usado nos exercios -->  https://www.colourlovers.com/palette/4937141/Rainbow_Smoke_9
    Fontes usado no projeto:
    Titulos: @import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
    Paragrafos: @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*/

/*Titulo*/
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/*Paragrafo*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --bck: #27371A;
    --bck-hover: #014C48;
    --cores-segu01: #206881;
    --cores-segu02: #7FA6F1;

    --cor-branca: #fff;
    --cor-escura: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
