.social-media-icons{
    background-color: green;
    height: 30px;
}
.search{
    background-color: yellow;
    height: 30px;
} 
.menu ul li, .footer-menu ul li {
    display: inline;
  
}
.menu ul li a, .footer-menu ul li a{
    text-decoration: none;
}