/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

h1, h2, h3, h4{
    font-family: 'Tilt Prism', cursive;
}
h2{
    color: #000;
    padding-left: 10px;
    box-shadow: -5px 3px 3px rgba(0, 0, 0, 0.408);
    border-radius: 20px;

}
/*header*/
header{
    width: 100%;
    height: 150px;
    background-color: #000;
}
header .logo h1{
    margin-top: 40px;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
}
header .logo h1:hover{
    color: chocolate;
    font-size: 45px;
}

/*EStilos menus*/
nav, .menu-header ul li {
    display: inline;
    margin: 10px;
    font-size: 25px;
}
nav, .menu-header ul li a{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-decoration: none;
    margin: 10px;
}
nav, .menu-header ul li a:hover{
    color: chocolate;
    font-family: 'Tilt Prism', cursive;
}


/**Posts**/
/*Post padrão*/
article .post{
    padding-top: 10px;
}
.format-standard h2{
    margin: 10px 30px 30px 0;
}
article .format-standard img{
    box-shadow: 8px 3px 3px rgba(0, 0, 0, 0.408);
    border-radius: 35px;
}
/*Tipo de posts imagem*/
article .category-noticias h2{
    background-color: tomato;
    color: #000;
}

/*Tipo de post videos*/
article .category-esportes h2{
    background-color: darkgreen;
    color: #fff;
}
/*Tipo de post Padrão*/
article .category-tecnologia  h2 {
    background-color: steelblue;
    color: #fff;
}



/*Sidebar*/
 .sidebar{
    box-shadow: 8px 3px 3px rgba(0, 0, 0, 0.408);
    margin: 15px 5px 0 0 ;

}


/*footer*/
footer{
    background-color: #000;
    color: #fff;
}
footer .copyright{
    font-size: 35px;
    padding-top: 30px;
}
nav, .menu-footer ul li{
    display: inline;

}
nav, .menu-footer ul li a{
    color: #fff;
    font-size: 25px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
}

nav, .menu-footer ul li a:hover{
    color: chocolate;
    font-family: 'Tilt Prism', cursive;
}
