/*Fonts*/
    /*Titulos*/
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    /*Fonte para os paragrafos*/
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
h1, h2, h3, h4, h5{
    font-family: 'Anton', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
}
/*Area de menu*/

