@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: brown;
    width: 100%;
    height: 100px;
    padding-top: 25px;
}
header .logo{
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 35px;
    color: #fff;
}
header .logo a:hover{
    color: #000;
}
header nav{
    margin-left: 150px;
  
}
header ul{
    display: flex;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    margin: 35px;
    font-size: 35px;
    color: #000;
}
.banner{
    padding-top: 280px;
    width: 100%;
    height: 850px;
    background-image: url(../img/bck07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;

}
.banner h1{
    font-size: 45px;
    padding: 45px 0 45px 0;
    letter-spacing: 10px;
}
.banner p{
    font-size: 25px;
    letter-spacing: 8px;
}

.banner .btn-banner{
    width: 280px;
    height: 80px;
    margin-top: 15px;
    border-radius: 80px;
    background-color: brown;
    color: #fff;
    font-size: 25px;
}
.banner .btn-banner:hover{
    background-color: burlywood;
    color: #000;
}
.sobre{
    margin-top: 5px;
    width: 100%;
    height: 850px;
    background-image: linear-gradient(brown, #000);
    color: #fff;

}
.blog{
    margin-top: 5px;
    width: 100%;
    height: 850px;
    background-image: url(../img/bck05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.contato{
    width: 100%;
    height: 850px;
    background-image: url(../img/bck01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(brown, #000);
}