*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
    color: #fff;
}
header .logo{
    margin: 25px  25px;
    flex-grow: 0.6;
    font-size: 25px;
}
header .logo:hover{
    text-decoration: underline;
    color: #000;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li{
    display: flex;
    flex-direction: column-reverse;
    
}
nav ul li a{
    margin: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
