*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Cabeçalho*/
header{ 
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
    color: #fff;
}
header .logo{
    margin: 25px  25px;
    flex-grow: 0.6;
    font-size: 25px;
}
header .logo:hover{
    text-decoration: underline;
    color: #000;
}

/*Nav menu-topo*/
nav ul {
    list-style: none;
    display: flex;
}
nav ul li{
    display: flex;
    flex-direction: column-reverse;
    
}
nav ul li a{
    margin: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

/*Primeira seção*/
.banner{
    width: 100%;
    height: 800px;
}
 
/*Footer*/
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}
footer .copyright{
    margin-top: 25px;
    font-size: 38px;
}
footer h3 span{
    font-size: 35px;
    color: brown;
}
footer .espacamento {
    width: 5px;
    height: 50px;
    margin: 25px;
    background-color: burlywood;
}
footer .menu-footer ul li a{
    color: #000;
    font-size: 45px;
}

.menu-footer{
    color: #000;
}



/*Média Quaries */
@media screen and (max-width: 601px) {
    header .logo{
        text-align: center;
        color: aqua;
        transition: 1s;
    }
    header ul li a {
        transition: 1s;
    }
    footer{
        display: inline;
        margin: 0 auto;
        transition: 1s;
    }
    .copyright h3{
        font-size: 35px;
        transition: 1s;
    }
    .copyright span{
        font-size: 25px;
        transition: 1s;
    }
 
    footer .menu-footer ul li a{
        font-size: 25px;
        margin-top: 3px;
        transition: 1s;
    }

    footer .espacamento{
        margin: 10px;
        width: 205px;
        height: 10px;
        transition: 1s;
    }

}






@media screen and (max-width: 450px) {
    header .logo{
        padding-left: 60px;
        text-align: center;
        color: blue;
        transition: 1s;

    }
    nav ul li a{
        padding-right: 15px;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        transition: 1s;
    
    }

    /*Footer*/
    footer{
        display: inline;
        transition: 1s;
    }
    footer h3{
        font-size: 25px;
        transition: 1s;
    }
    footer .menu-footer ul li a{
        font-size: 25px;
        transition: 1s;
    }
    footer .espacamento{
        width: 205px;
        height: 10px;
        transition: 2s;
    }

}



