/*Estilos Gerais*/

/*Estilos extras topo*/

header{
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
}
span{
    color: brown;
    font-size: 35px;
}
header .logo a{
    color: black;
    font-size: 35px;
}

header .menu-nav{
    margin-top: 10px;
}

form{
    margin-top: 10px;
    width: 250px;
    height: 45px;
}
button{
    width: 110px;
    height: 45px;  
   
}


/*Responsivo*/
@media screen and (max-width: 760px) {
    header {
     width: 100%;
     height: 180px;
    }
    form{
        width: 200px;
        height: 30px;
    }
    button{
        display: inline-block;
        width: 80px;
        height:  25px;
        
    }
    }