/*
    Desevolvido por: Alan Queirós 

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: brown;
}

.menu ul li{
    display: inline;
}
.search input{
    width: 70px;
    font-size: 15px;
   
}