*{
    margin: 0;
    padding: 0;
}
.logo{
    color: teal;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: normal;
}
.logo:hover{
    color: rgba(0, 0, 255, 0.473);
}
.menu ul li {
    display: inline;
     
}

.menu ul li a{
    color: teal;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: normal;
    margin: 0px 0 0 60px;
}
.menu ul li a:hover{
    color: rgba(0, 0, 255, 0.473);
    text-decoration: overline;
}
/*Artigos*/
.wp-post-image{
    float: left;
    margin: 0 15px 10px 0;
    border-radius: 25px;
}
.wp-post-image:hover{
    width: 280px;

}
.blog article{
    display: inline;
}
/*Tipos de posts*/

.img h2{
    padding-left: 25px;
    background-color: burlywood;
    border-radius: 25px;
}
.videos h2{
    background-color: cadetblue;

}




/*Menu footer*/
.menu-footer ul li{
    display: inline;
    margin: 0 0 0 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: normal;
 
}
.menu-footer ul li a{
   color: teal;
}
.menu-footer ul li a:hover{
    color: rgba(0, 0, 255, 0.473);
    text-decoration: overline;
}
