/*
    Desenvolvido por: Alan
    
    Fonte Titulos: @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');     font-family: 'Black Ops One', cursive;

    Fonte Paragrafos: @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');     font-family: 'Bebas Neue', sans-serif;

    Paletas de Cores: https://www.colourlovers.com/palette/623761/Walking_Away

    Cabeçalho fixo: https://www.w3schools.com/howto/howto_js_sticky_header.asp
*/  

/*Estilos Gerias*/
h1, h2, h3, h4{
    font-family: 'Black Ops One', cursive;
}
p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
}


/*Cabeçalho*/
header{
    padding: 10px 16px;
    background-color: #B90504;
    color: #fff;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul li {
    display: inline;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
   font-size: 25px;
   font-family: 'Black Ops One', cursive;
    color: #fff;
}
nav ul li a:hover{
    color: #333333;
    text-decoration: overline;
}
.btn-pesuisar{
    color: #fff;
    font-weight: bold;
    font-style: normal;
}

/*Footer*/
footer{
    color: #fff;
    padding: 10px 16px;
    background-color: #B90504;
   
}
footer ul {
    list-style: none;
}
footer ul li {
    padding: 30px;
    text-decoration: none;
    display: inline;
}
footer ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}
footer ul li a:hover{
    color: #333333;
    text-decoration: overline;
}
footer span{
    margin-left: 10px;
    color: #333333;
}