*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Fontes*/
/*Paragrafos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Fontes Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


/*Famila da fonte para os paragrafos*/
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');


/*Area Varivéis Sass*/
/*Fonte do paragrafos*/
$font-paragrafo: 'Roboto', sans-serif;
/*Fonnet para os titulso*/
$font-titulos:  'Vina Sans', sans-serif;
/*Cor BTN*/
$cor-btn: #990100;
/*Cor Houver btn*/
$cor-btn-hover: #B90504;
/*Cor segundo plano*/
$cor-plano-1: #333333;
/*Cor segundop plano*/
$cor-plano-2: #E8E8E8;



header{
    background-color: brown;
    color: aqua;
    font-family: $font-paragrafo;

}
header h1{
    font-family: $font-titulos;
}


/*Estilos dos botões*/
button{
    margin: 10px 0 0 10px;
    background-color: $cor-btn;
    width: 230px;
    height: 60px;
    border-radius: 25px;
    font-size: 25px;
    color: #ccc;
}
button:hover{
    background-color: $cor-btn-hover;
    color: $cor-plano-2;
}
