<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        body{
            font-size: 25px;
            font-weight: bolder;
            font-style: normal;
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="cabecalho">
        <div class="container">
            <div class="row">
                <h1>Atualização dos Projetos</h1>
                    <p>
                        Todos os projetos em estão sendo executados dentro do servidor local.
                    </p>
            </div>
        </div>  
    </header>
      

<div class="section home">
    <h2>Projetos Temas Wordpress</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                      <h3>Projeto Desenvolvido para Local Host</h3>
                      <a href="http://localhost/sites">Acesss Aqui...</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                      <h3>Desenvolvendo um tema Wordpress</h3>
                      <a href="http://localhost/sites/aqgoes/" target="_blank">Acesss Aqui...</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<script src="js/bootstrap.js"></script>
</body>
</html>